header {
  background-color: #000000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 99;
}

.mainbody {
  background-color: #1a1a1a;
  background-image: url("https://images.pexels.com/photos/2129814/pexels-photo-2129814.png?cs=srgb&dl=architecture-bridge-buildings-2129814.jpg&fm=jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

section.about {
  /* background-color: #e8e8e8; */
  background-image: url("https://images.pexels.com/photos/2083840/pexels-photo-2083840.jpeg?cs=srgb&dl=scenic-view-of-city-during-dawn-2083840.jpg&fm=jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  width: auto;

  padding: 400px;
  /*opacity: 0.8;*/
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

section.home {
  /* background-color: #8b9aa3; */
  background-image: url("https://images.pexels.com/photos/421927/pexels-photo-421927.jpeg?cs=srgb&dl=architecture-bridge-brooklyn-bridge-buildings-421927.jpg&fm=jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  width: auto;
  padding: 350px;
  /*opacity: 0.8;*/
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
section.expirience {
  /* background-color: #ededed; */
  background-image: url("https://images.pexels.com/photos/1067357/pexels-photo-1067357.jpeg?cs=srgb&dl=photo-of-buildings-during-dusk-1067357.jpg&fm=jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  width: auto;
  padding: 350px;
  /*opacity: 0.8;*/
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

section.projects {
  /* background-color: #ededed; */
  background-image: url("https://images.pexels.com/photos/290595/pexels-photo-290595.jpeg?cs=srgb&dl=architecture-buildings-business-city-290595.jpg&fm=jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  width: auto;
  padding: 350px;
  /*opacity: 0.8;*/
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 11px 11px;
  font-size: 5px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /*position: relative;*/
  display: inline-block !important;
  /*text-align: 0 center;	*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  /*box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #de4b64;
  font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #de4b64;
}

.material-icons {
  float: left;
  /*background-image: url("/home/hernan/Desktop/PROJECTS/PORTFOLIO/sharp_menu_white_24dp.png");*/
  z-index: 1;
}

.name {
  color: #ffffff;
  text-decoration: none;
  display: block;
  cursor: pointer;
  position: relative;
}

.home-button {
  border: none;
  background-color: #000000;
}
.home-button a {
  display: block;
}
.home-icon {
  /*margin: 10px 10px;*/
  position: absolute;
  /*top: 0px;*/
  margin-top: 0px;

  display: inline-block !important;
}

.home-button:hover {
  background-color: #de4b64;
}

.user {
  background-image: url("/home/hernan/PROJECTS/PORTFOLIO/IMG_1933.jpg");
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0px 0px 0px 15px;
  background-size: cover;
  position: absolute;

  left: 300px;
  top: 850px;
}

.home-icon h2 {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}

.col-twelve h1 {
  font-size: 60px;
  font-family: "Space Mono", monospace;
  color: #ffffff;
}

.col-twelve h4 {
  font-size: 20px;
  font-family: "Space Mono", monospace;
  color: #de4b64;
}

.col-twelve {
  position: absolute;
  top: 100px;
  left: 470px;
}

.image {
  float: right;
  margin-left: 160px;
  margin-top: 11px;
}

.more {
  background-color: #97bacf;
  position: absolute;
  top: 480px;
  left: 470px;
  opacity: 0.85;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.name2 h2 {
  background-color: #97bacf;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  color: #ffffff;
}
.name2 {
  background-color: #97bacf;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border: none;
  position: relative;

  float: left;
}

.learn-more {
  background-color: #97bacf;

  cursor: pointer;
  border: 1px solid #ffffff;
}

.material-icons2 {
  float: right;
  color: #ffffff;
}

.learn-more:hover {
  border: 1px solid #de4b64;
}

.github-circle {
  float: right;
  margin-right: 0px;
}
.git {
  background-color: #000002;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.git:hover {
  background-color: #de4b64;
}
.linkedin {
  background-color: #000002;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.linkedin:hover {
  background-color: #de4b64;
}
.instagram {
  background-color: #000002;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.instagram:hover {
  background-color: #de4b64;
}

.linkedIn-circle {
  float: right;
}

.instagram-circle {
  float: right;
}

.about-me p {
  color: #000000;
  position: absolute;
  left: 550px;
  top: 900px;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 350px;
  height: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.skills {
  position: absolute;
  left: 800px;
  top: 1000px;
}
.contact {
  position: absolute;
  left: 400px;
  top: 1100px;
}

.css-3 {
  position: absolute;
  top: 1125px;
  left: 800px;
}
.html-5 {
  position: absolute;
  top: 1055px;
  left: 800px;
}

.python-3 {
  position: absolute;
  top: 1305px;
  left: 800px;
}

.java-11 {
  position: absolute;
  top: 1265px;
  left: 800px;
}
